Language: Cpp
BasedOnStyle: LLVM
ColumnLimit: 100

PointerAlignment: Left

UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
NamespaceIndentation: All

AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false

BreakTemplateDeclarations: Yes